---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Our variables
//$base-font-family: Helvetica, Arial, sans-serif;
$base-font-family: Verdana, Geneva, sans-serif;
$heading-font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
$scripture-font-family: "Times New Roman", Times, serif;
$scripture-heading-font-family: "Bookman", "URW Bookman L", serif;
$base-font-size:   15px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$heading-scale: 6;

$spacing-unit:     30px;

// Customize these colors
$text-color:       #111;
$background-color: #F2F2F2;
$primary-color:    #5ab51e;
$secondary-color:  #0c4659;

$grey-color:       lighten($text-color, 40%);
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Sticky footer hack
$min-footer-height: 62px;

// Width of the content area
$max-width:        1200px;
$max-width-narrow-page:        800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@import "neat/neat";
@import "layout";
@import "base";
