form {
  background: #fff;
  box-shadow: $grey-color-light 2px 2px 6px;
  border-radius: $border-radius;
  padding: 20px 40px;
  overflow: auto;
}

.button, a.button, button, input[type=submit] {
  display: inline-block;
  color: $background-color;
  padding: 6px 20px;
  font-size: 18px;
  background: $primary-color;
  border-radius: $border-radius;
  border: 2px solid darken($primary-color, 10%);

  &:hover {
    text-decoration: none;
    border: 2px solid darken($primary-color, 20%);
  }

  &:visited {
    color: white;
  }
}

label, input {
  display: block;
}

input[type=radio] {
  float: left;
}

input[type=text] {
  padding: 3px 2px;
  font-size: 16px;
  box-sizing: border-box;
  min-width: 50%;
}

.radio-option {
  display: block;
}

input[type=radio] {
  float: left;
}

.radio-option {
  display: block;
  overflow: auto;
  padding: 4px 10px;

  label {
    font-size: $small-font-size;
    padding: 0;
    text-transform: none;
  }

  * {
    float: left;
  }
}

textarea {
  box-sizing: border-box;
  width: 100%;
}

.form-actions {
  padding: 10px 0;
}

label {
  text-transform: uppercase;
  font-weight: bold;
  color: $grey-color-dark;
  padding: 10px 0px 2px;
}

.book-option {
  display: block;
  float: left;

  @include grid-column(6, $neat-grid);

  @include grid-media($neat-grid-desktop) {
    @include grid-column(6);
  }
}
