form {
  background: #fff;
  box-shadow: $grey-color-light 2px 2px 6px;
  border-radius: $border-radius;
  padding: 20px 40px;
  overflow: auto;
}

.button, a.button, button, input[type=submit] {
  display: inline-block;
  color: $background-color;
  padding: 6px 20px;
  font-size: 18px;
  background: darken($primary-color, 8%);
  border-radius: $border-radius;
  border: 2px solid darken($primary-color, 12%);

  &:hover {
    text-decoration: none;
    border: 2px solid darken($primary-color, 24%);
  }

  &:visited {
    color: white;
  }
}

label, input {
  display: block;
}

input[type=radio] {
  float: left;
}

input[type=text] {
  padding: 3px 2px;
  font-size: 16px;
  box-sizing: border-box;
  min-width: 80%
}

.radio-option {
  display: block;
}

input[type=radio] {
  float: left;
}

.radio-option {
  display: block;
  overflow: auto;
  padding: 4px 10px;

  label {
    font-size: $small-font-size;
    padding: 0;
    text-transform: none;
  }

  * {
    float: left;
  }
}

textarea {
  box-sizing: border-box;
  width: 100%;
}

$neat-form-grid: (
  columns: 1,
  gutter: 0px,
);

$neat-form-grid-desktop: (
  columns: 4,
  gutter: 0px,
  media: "(min-width: 768px)",
);

.two-column-fields {
  float: left;
  display: block;

  @include grid-column(1, $neat-form-grid);

  @include grid-media($neat-form-grid-desktop) {
    @include grid-column(2);
  }
}

.form-actions {
  padding: 10px 0;
}

label {
  text-transform: uppercase;
  font-weight: bold;
  color: $grey-color-dark;
  padding: 10px 0px 2px;
}

.form-note {
  font-weight: bold;
  padding: 16px 0px;
  color: $grey-color-dark;
  border-top: 2px dashed $grey-color;
  border-bottom: 2px dashed $grey-color;
}
