/**
 * Styles for sticky footer
 */

html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -$min-footer-height;
}

.push {
  clear: both;
  height: $min-footer-height;
}

/**
 * Site header
 */
.site-header {
  min-height: 56px;
  // Positioning context for the mobile navigation icon
  position: relative;
  border-top: 2px darken($primary-color, 30%) solid;

  .wrapper {
    padding: 5px 20px;
  }

  text-shadow: 1px 1px 2px darken($primary-color, 20%);

  .site-title, .site-title a {
    font-size: 30px;
    line-height: 56px;
    letter-spacing: -1px;
    font-weight: bold;
    margin-bottom: 0;
    float: left;
    display: block;
    color: $background-color;

    &:hover {
      text-decoration: none;
    }
  }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $background-color;
        line-height: $base-line-height;
        text-transform: uppercase;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        background-color: darken($primary-color, 7%);
        border: 1px solid darken($primary-color, 30%);
        border-radius: $border-radius;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

/**
 * Site footer
 */
.site-footer .wrapper {
  min-height: $min-footer-height;

  a {
    color: $background-color;
    text-decoration: underline;
  }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: white;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.site-footer, .site-header {
  box-shadow: $primary-color 0px 0px 5px;
}

/**
 * Page content
 */
.page-content, .page-content-narrow {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 32px;
    letter-spacing: -1px;
    line-height: 1.4;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

// Start of my custom SASS with Bourbon Neat

$neat-grid: (
  columns: 6,
  gutter: 12px,
);

$neat-grid-desktop: (
  columns: 12,
  gutter: 20px,
  media: "(min-width: 768px)",
);

.page-content {
  @include grid-container;
  max-width: $max-width;
  margin: 0 auto;
}

.page-content-narrow {
  @include grid-container;
  max-width: $max-width-narrow-page;
  margin: 0 auto;
}

header {
  background: darken($primary-color, 7%);
  font-weight: bold;
  font-family: $heading-font-family;
}

footer {
  background: darken($primary-color, 7%);
}

.landing > .post-title, .landing-description, .newsletter {
  margin-top: $spacing-unit;

  @include grid-column(6, $neat-grid);

  @include grid-media($neat-grid-desktop) {
    @include grid-column(6);
  }
}

.scripture {
  font-family: $scripture-font-family;
  font-size: 20px;
}

.scripture-block {
  @include grid-column(6, $neat-grid);

  @include grid-media($neat-grid-desktop) {
    @include grid-column(12);
  }

  margin-top: $spacing-unit;

  p {
    text-align: center;
  }
  q {
    @extend .scripture;
  }
}

footer {
  border-bottom: 4px darken($primary-color, 30%) solid;
  ul {
    list-style: none;
    overflow: auto;
    padding-top: 10px;
    margin-bottom: 0px;
  }
  li {
    @include grid-column(6, $neat-grid);

    @include grid-media($neat-grid-desktop) {
      @include grid-column(4);
    }

    float: left;
    text-align: center;
    padding: 10px 0;
  }
}

.book-option {
  display: block;
  float: left;
  border-radius: 4px;
  margin-bottom: 20px;

  @include grid-column(6, $neat-grid);

  @include grid-media($neat-grid-desktop) {
    @include grid-column(6);
  }

  a {
    color: $text-color;

    &:hover {
      text-decoration: none;
    }
  }
}

.book-option, .book-header {
  border-radius: $border-radius;
  background-size: cover;
  background-position: center;
  box-shadow: 1px 1px 3px #cdcdcd;

  text-align: center;

  h3 {
    color: $text-color;
  }

  img {
    margin: 0 auto;
    display: block;
    max-height: 240px;
  }

  p, h3 {
    text-shadow: 1px 1px 4px $background-color;
  }
}

.book-option.dark, .book-header.dark {
  p, h3 {
    color: $background-color;
    text-shadow: 1px 1px 4px $text-color;
  }
}

.book-option-inner {
  padding:20px;
  overflow: auto;
}

.book-header {
  height: 220px;
  margin-bottom: 40px;

  .book-detail-thumbnail {
    padding-top: 20px;
  }
}
